[Unit]
Description=Configure Magni UART Pin Multiplexing
Before=hardware.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/magni-uart-pinctrl.sh
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
