[Unit]
Description=Magni UI Web Application
After=magni-navigation.service
Requires=magni-navigation.service

[Service]
Type=simple
User={{ target_user }}
Group={{ target_user }}
WorkingDirectory={{ ros2_ws }}
Environment=HOME={{ target_user_home }}
ExecStart=/usr/local/bin/magni-ros2-run.sh robot_bringup ui_application.launch.py
Restart=on-failure
RestartSec=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
